#! /bin/bash

export PATH="${PATH}:$HOME/.local/bin/"

# Set HDMI output as primary monitor
xrandr --output $(xrandr --listactivemonitors | grep "HDMI" | awk '{print $NF}') --primary

autostart &
remaps &
